.ChatMain
  .ChatMain__header
    .ChatMain__header__group
      .ChatMain__header__group__name
        = @group.name
      %ul.ChatMain__header__group__members
        %li Member：
        %li
          - @group.users.each do |user|
            = user.name
    =link_to edit_group_path(@group), class: "ChatMain__header__edit-btn" do
      Edit

  .ChatMain__messages
    = render @messages
    
  .ChatMain__form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :body, placeholder: "type a message", class: "input-box__text"
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit "Send", class: "send-btn"