.SideBar
  .SideBar__header
    .header-box
      %h3.header-box__user-name
        = current_user.name
      .header-box__menu
        = link_to "#" do
          = icon('fas', 'edit', class:'header-box__menu__icons')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class:'header-box__menu__icons')
  .SideBar__groups
    .group-box
      .group-box__name techcamp
      .group-box__message まだメッセージはありません
    .group-box
      .group-box__name テスト1
      .group-box__message まだメッセージはありません
    .group-box
      .group-box__name グループ1
      .group-box__message まだメッセージはありません