.SideBar
  .SideBar__header
    .header-box
      %h3.header-box__user-name
        = current_user.name
      .header-box__menu
        = link_to new_group_path do
          = icon('fas', 'edit', class:'header-box__menu__icons')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class:'header-box__menu__icons')
  .SideBar__groups
    - current_user.groups.each do |group|
      .group-box
        = link_to '#' do
          .group-box__name
            = group.name
          .group-box__message
            まだメッセージはありません